:root {
  --primary-color: #103ce7;
  --secondary-color: #64e9ff;
  --basecolor: rgba(0, 0, 0, 0.7);
  --border-of-basecolor: rgba(0, 0, 0, 0.3);
  --red-circle: rgb(253, 58, 58);
  --yellow-circle: rgb(250, 235, 26);
  --green-circle: rgb(12, 226, 12);
  --text-white-50: rgba(255, 255, 255, 0.5);
  --social-bg: rgba(0, 0, 0, 0.363);
  --shadow-img: #fafafa56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Poppins, "sans-serif";
  background-image: url("../assets/imgs/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.sidebar,
.sidebar#sidebarNotActive {
  position: relative;
  background: var(--basecolor);
  border: 5px solid var(--border-of-basecolor);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: max-content;
  width: 400px !important;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 2.2rem;
  /* https://10015.io/tools/css-box-shadow-generator */
  box-shadow: -1.5px 4.5px 16.5px -0.5px #0e0e0e;
  transition: width 120ms ease-in;
  header {
    width: 100%;
    .circle-group {
      display: flex;
      align-items: start;
      margin-bottom: 20px;
      div {
        width: 15px;
        height: 15px;
        border-radius: 50px;
      }
      .circle1 {
        background-color: var(--red-circle);
      }
      .circle2 {
        background-color: var(--yellow-circle);
        margin-inline: 4px;
      }
      .circle3 {
        background-color: var(--green-circle);
      }
    }
    .user-profile {
      display: flex;
      align-items: center;
      justify-content: start;
      cursor: default;
      img[alt="user-img"] {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        clip-path: circle(50%);
        object-fit: cover;
        border-radius: 50px;
        border: 4.5px rgba(255, 255, 255, 0.3) solid;
      }
      div .user-email {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.61);
      }
    }
  }
  .btn-arrow {
    position: absolute;
    right: 0;
    top: 8%;
    cursor: pointer;
    width: 25px;
    height: 60px;
    background: var(--border-of-basecolor);
    border-radius: 13px 0 0 13px;
    .ri-arrow-left-s-line {
      position: absolute;
      top: 20%;
      left: -15%;
      font-size: 35px;
    }
  }

  .menu {
    height: 200px;
    width: 100%;
    align-self: self-start;
    ul {
      height: inherit;
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        height: 20%;
        div {
          display: flex;
          justify-content: start;
          align-items: center;
          cursor: pointer;
          i {
            font-size: 22px;
            margin-right: 10px;
          }
          h4 {
            display: inline;
          }
        }
        div i,
        div h4,
        div + div > i {
          transition: color 200ms ease-in;
          color: var(--text-white-50);
        }
        div:nth-child(1) {
          transition: border-left 300ms ease-in;
        }
      }
      li:hover {
        div h4,
        div i {
          color: white;
        }
        .menu1,
        .menu2,
        .menu3,
        .menu4,
        .menu5 {
          border-left: 4px solid var(--green-circle);
        }
      }
      li:nth-child(4) {
        .received-message {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .person-group {
            position: relative;
            left: 40%;
            width: max-content;
            img {
              position: absolute;
              height: 30px;
              width: 30px;
              border-radius: 50px;
              object-fit: cover;
              box-shadow: 0 0 20px var(--shadow-img);
              cursor: default;
            }
            img[alt="person1"] {
              right: 0;
              height: 29px;
              width: 29px;
              z-index: 0;
            }
            img[alt="person2"] {
              right: -15px;
              /* transform: translateX(-14px); */
              z-index: 1;
            }
            img[alt="person3"] {
              right: -30px;
              /* transform: translateX(-27px); */
              z-index: 2;
            }
            img[alt="person4"] {
              right: -43px;
              /* transform: translateX(-39px); */
              z-index: 3;
            }
          }
          .red-circle {
            position: relative;
            right: 4%;
            width: 32px;
            height: 32px;
            border-radius: 50px;
            background: var(--red-circle);
            box-shadow: 0 0 20px var(--shadow-img);
            cursor: default;
            .number-recevied {
              margin: auto;
              font-size: 14px;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }

  .social {
    align-self: self-start;
    width: 100%;
    height: 200px;
    background: var(--social-bg);
    border-radius: 2.2rem;
    margin-bottom: 7px;
    ul {
      width: 100%;
      height: 100%;
      padding: 20px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      li {
        height: 20%;
        width: 100%;
        div {
          display: flex;
          align-items: center;
          justify-content: start;
          div {
            height: 35px;
            width: 35px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.2);
            margin-right: 20px;
            img {
              cursor: pointer;
              height: 27px;
              width: 27px;
              margin: auto;
            }
          }
          h4,
          i {
            color: var(--text-white-50);
            cursor: pointer;
            transition: color 200ms ease-in-out;
          }
          h4 {
            text-transform: capitalize;
          }
          i {
            font-size: 22px;
            margin: auto;
          }
        }
        &:hover {
          div h4,
          div i {
            color: white;
          }
        }
      }
    }
  }

  .settings {
    width: 100%;
    background: var(--social-bg);
    border-radius: 2.2rem;
    margin-top: 5px;
    ul {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      li {
        height: 100%;
        width: 20%;
        i {
          transition: color 200ms ease-in-out;
          display: block;
          cursor: pointer;
          color: var(--text-white-50);
          font-size: 22px;
          text-align: center;
        }
        &:hover i {
          color: white;
        }
      }
    }
  }

  .heading {
    align-self: self-start;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    font-weight: normal;
    p {
      cursor: default;
      text-transform: capitalize;
      margin-bottom: 10px;
      color: var(--text-white-50);
      font-size: 14px;
      span {
        font-size: 16px;
        font-weight: bold;
      }
    }
    i {
      cursor: pointer;
      color: var(--text-white-50);
    }
  }

  .end-line {
    width: 95%;
    height: 1.3px;
    margin-block: 30px;
    background: var(--text-white-50);
  }
}

.sidebar#sidebarActive {
  width: 140px !important;
  header {
    .circle-group {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user-profile {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        display: none;
      }
      img[alt="user-img"] {
        margin: 0;
      }
    }
  }
  .btn-arrow {
    position: absolute;
    right: 0;
    top: 6%;
    cursor: pointer;
    width: 25px;
    height: 60px;
    background: var(--border-of-basecolor);
    border-radius: 13px 0 0 13px;
    .ri-arrow-right-s-line {
      position: absolute;
      top: 20%;
      left: -10%;
      font-size: 35px;
    }
  }

  .menu {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      li {
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            margin: 0;
            font-size: 24px;
          }
          h4 {
            display: none;
          }
        }
        div:nth-child(2) i,
        .received-message .person-group,
        .received-message .red-circle {
          display: none;
        }
      }
    }
  }

  .social {
    width: 100%;
    height: 230px;
    background: var(--social-bg);
    border-radius: 2.2rem;
    margin-bottom: 7px;
    ul {
      li {
        div {
          display: flex;
          align-items: center;
          justify-content: start;
          div {
            width: 35px;
            height: 35px;
            background: transparent;
            border-radius: 0;
            margin: 0;
            img {
              cursor: pointer;
              height: 29px;
              width: 29px;
              margin: auto;
            }
          }
          h4 {
            display: none;
          }
          i {
            font-size: 24px;
            transition: color 200ms ease-in-out;
          }
        }
      }
    }
  }

  .settings {
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: max-content;
      padding: 20px;
      li {
        width: inherit;
        margin-block: 7px;
        i {
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }

  .heading {
    display: block;
    align-self: center;
    p,
    span {
      width: 100%;
      text-align: center;
    }
    i {
      display: none;
    }
  }

  .end-line {
    width: 100%;
  }
}
